.social-login
    button.social-login__github
        span
            i.fab.fa-github
        |Contuiue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        |Contuiue with Facebook        